build --incompatible_strict_action_env
build --symlink_prefix=.bazel/
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20
build --features=external_include_paths
test --test_output=errors

# The cmake debug preset, until dbg/opt configs exist.
build --copt=-O0
build --copt=-g
build --copt=-DDEBUG

try-import %workspace%/user.bazelrc
