# Set project directories.
export PROJECT_ROOT=$(dirname "$(realpath "${BASH_SOURCE[0]}")")
export MIMXRT1170EVK_ROOT=$PROJECT_ROOT
export FORGE_ROOT=$(gordion -f forge)
export ETL_ROOT=$(gordion -f etl)

# Use nix-direnv
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

use flake .

# Set serial terminal device port
export SERIAL_DEVICE=/dev/ttyACM0

# Add command path
export PATH=$PATH:$PROJECT_ROOT/scripts/bin

# Set paths to some external tools
export LINK_SERVER="/usr/local/LinkServer/LinkServer"
