# Set the project root directory to the current directory
export PROJECT_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd -P)"

# Set the forge tools root directory.
# TODO: Move to where it is used. direnv allow Won't work until gordion -u, 
export FORGE_ROOT=$PROJECT_ROOT/gordion/forge

# Set serial terminal device port
export SERIAL_DEVICE=/dev/ttyACM0

# Add public python modules path
export PYTHONPATH="${PYTHONPATH}:${FORGE_ROOT}/scripts/python"

# Add the build tool directory to path, this allows us to "rip" script without prepending path.
export PATH=$PATH:$PROJECT_ROOT/scripts/bin
source commands

# # Set paths to some external tools
# export OPENOCD_DIR=$PROJECT_ROOT/../openocd/xpack-openocd-0.12.0-1-linux-x64/xpack-openocd-0.12.0-1/
export ARM_GCC_TOOLCHAIN_PATH=$HOME/.mcuxpressotools/arm-gnu-toolchain-12.2.rel1-x86_64-arm-none-eabi/bin
#export ARM_GCC_TOOLCHAIN_PATH=$HOME/.mcuxpressotools/arm-gnu-toolchain-12.3.rel1-x86_64-arm-none-eabi/bin
# export ARM_GDB_PATH=$PROJECT_ROOT/../gcc-arm-none-eabi/gcc-arm-none-eabi-10.3-2021.10-x86_64-linux/gcc-arm-none-eabi-10.3-2021.10/bin/arm-none-eabi-gdb

export ARM_GCC_PATH_FOR_GDB_ONLY="/usr/share/gcc-arm-none-eabi-10.3-2021.10/bin"

export LINK_SERVER="/usr/local/LinkServer_1.4.85/LinkServer"

# Source the common environment script
source $FORGE_ROOT/scripts/common.envrc

