{
  "name": "core1 (cortex m4)",
  "cwd": "${workspaceRoot}",
  "executable": "{{ executable }}",
  "preLaunchTask": "Idempotent Launch LinkServer's GDB Server (cm7 & cm4)",
  "request": "attach",
  "type": "cortex-debug",
  "servertype": "external",
  "configFiles": [],
  "searchDir": [],
  "breakAfterReset": false,
  "armToolchainPath": "/home/jacob/.mcuxpressotools/arm-gnu-toolchain-12.2.rel1-x86_64-arm-none-eabi/bin",
  "gdbPath": "/home/jacob/.mcuxpressotools/arm-gnu-toolchain-12.2.rel1-x86_64-arm-none-eabi/bin/arm-none-eabi-gdb",
  "gdbTarget": "localhost:2401",
  "showDevDebugOutput": "raw",
  "numberOfProcessors": 1,
  "targetProcessor": 0,
  "overrideAttachCommands": [
    "set mem inaccessible-by-default off"
  ]
}
