{
  "name": "{{ name }}",
  "cwd": "${workspaceRoot}",
  "preLaunchTask": "Idempotent Launch LinkServer's GDB Server (cm7 & cm4)",
  "executable": "{{ executable }}",
  "request": "launch",
  "type": "cortex-debug",
  "servertype": "external",
  "configFiles": [],
  "searchDir": [],
  "runToEntryPoint": "main",
  "armToolchainPath": "{{ arm_gcc_toolchain_path }}",
  "gdbPath": "{{ gdb_path }}",
  "gdbTarget": "localhost:2400",
  "showDevDebugOutput":"raw",
  "numberOfProcessors": 1,
  "targetProcessor": 0,
  "preLaunchCommands": [
    "set mem inaccessible-by-default off"
  ]
}
