{
  "name": "{{ name }}",
  "cwd": "${workspaceRoot}",
  "executable": "{{ executable }}",
  "preLaunchTask": "Idempotent Launch LinkServer's GDB Server (cm7 & cm4)",
  "request": "attach",
  "type": "cortex-debug",
  "servertype": "external",
  "configFiles": [],
  "searchDir": [],
  "breakAfterReset": false,
  "armToolchainPath": "{{ arm_gcc_toolchain_path }}",
  "gdbPath": "{{ gdb_path }}",
  "gdbTarget": "localhost:2401",
  "showDevDebugOutput": "raw",
  "numberOfProcessors": 1,
  "targetProcessor": 0,
  "overrideAttachCommands": [
    "set mem inaccessible-by-default off"
  ]
}
